.lodging {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}



@media screen and (max-width: 768px) {
  .lodging {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  h3 {
    font-size: 36px;
  }
}
