.lodging {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.ident {
  margin-top: 30px;
  color: red;
}
@media screen and (min-width: 768px) {
  .lodging {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }
  h3 {
    font-size: 36px;
  }
}
